_site
_posts/_draft
_posts/_archive
_archive
node_modules
.vscode
*.log
*.lock
*.sh
.DS_Store
.jekyll-cache
*/.DS_Store
*/*/.DS_Store
_posts/create.cpp
_posts/create.exe
_posts/more
_posts/waste
img/more
算法pdf